
.ava
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.ava img
{
    height: 50px;
    width: 50px
;
    border-radius: 100%;
}
.post_content
{

}
.body
{
    display: flex;
}