.app-wraper
{
  margin: 5%;
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 2fr 10fr;
}
.app-wraper-content
{
  padding: 10px;
  background-color: darkgoldenrod;
  grid-area: c;
}
.app-wraper-content  img
{
  width: 80%;
  height: 220px;
  background-color: darkgoldenrod;
  grid-area: c;
}